$border-color: #719997;
$font-color: #456361;

@import "saved-sprites-display";
@import "create-sprite-form";
@import "pixel-grid";
@import "edit-pane";

body {
  border: none;
  margin: 0;
  padding: 0;

  color: $font-color;
  font-size: 18px;
  font-family: "Courier New", monospace;
}
.title {
  border-bottom: 3px solid $border-color;
  display: inline;
  margin-bottom: 10px;
  font-weight: 800;
}

.pxlr-prite-editor {

}
