$teal-extra-light: #f8feff;
$teal-light: #99b6b1;
$teal-medium: #719997;
$teal-dark: #456361;

$font-family: "Courier New", monospace;

@import "color-converter";
@import "create-sprite-form";
@import "edit-pane";
@import "import-sprite-form";
@import "pixel-grid";
@import "saved-sprites-display";
@import "two-click-delete";

body {
  border: none;
  margin: 0;
  padding: 0;

  color: $teal-dark;
  font-size: 18px;
  font-family: $font-family;
}
.title {
  border-bottom: 3px solid $teal-medium;
  display: inline;
  margin-bottom: 10px;
  font-weight: 800;
}

.pxlr-prite-editor {

}
