.create-sprite-form {
  margin: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;

      .input {
        display: flex;
        flex-grow: 1;
        position: relative;
        margin-right: 25px;
        margin-bottom: 15px;

        label {
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: 16px;
        }
      }

      input {
        font-size: 18px;
        color: $teal-dark;
        flex-grow: 1;
        border: none;
        outline: none;
        border-bottom: 2px solid $teal-medium;

        &:focus {
          border-bottom-color: $teal-dark;
        }
      }
    }
  }

  .submit {
    display: flex;
    justify-content: center;
    align-content: center;

    button {
      font-size: 60px;
      color: $teal-medium;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;

      &:hover {
        color: $teal-dark;
      }
    }
  }
}
