.edit-pane {
  padding-top: 60px;

  .control-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #999;
    height: 50px;
    color: #666;
    position: fixed;
    top: 0;
    background-color: white;
    padding-right: 15px;

    .name {
      font-size: 24px;
      margin-left: 15px;
    }

    .color-picker .jscolor {
      width: 60px;
      padding: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .animation-button,
    .close-button {
      font-size: 32px;
      border: none;
      background-color: white;
      color: #666;
      cursor: pointer;
    }

    .close-button {
      margin-right: 15px;
    }

    .white-empty-picker,
    .size-picker {
      cursor: pointer;
    }
  }

  .animation-frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;

    .new-frame-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        border: none;
        background-color: white;
        font-size: 66px;
        cursor: pointer;
        color: #999;

        &:hover {
          color: #333;
        }
      }
    }

    .frame {
      margin-right: 10px;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      border: 3px solid #666;
      align-items: center;
      background-color: #f0f0f0;

      .frame-control-buttons {
        display: flex;
        flex-direction: row;
        border-bottom: 3px solid #666;
        width: 100%;

        button {
          flex-grow: 0;
          margin: 0;
          padding: 0;
          border: 0px solid;
          border-left: 1px solid #666;
          background-color: rgba(0,0,0,0);
          width: 30px;
          height: 20px;
          cursor: pointer;
          color: #666;
          font-size: 18px;

          &:first-child {
            border-left: none;
          }
          &:hover {
            background-color: #ccc;
            color: #333;
          }
        }

        .spacer {
          flex-grow: 1;
          border-left: 1px solid #666;
        }
      }
    }
  }

  .sprite-blob {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 50px;
    display: flex;

    .copy-button {
      font-size: 36px;
      border: none;
      background-color: white;
      cursor: pointer;
      color: #999;
      width: 50px;

      &:hover {
        color: #333;
      }

      .success {
        color: #4dff52;
      }
    }

    textarea {
      font-family: monospace;
      font-size: 10px;
      color: #666;
      word-wrap: break-word;

      width: 100%;
      height: 150px;
    }
  }

  &.show-animation {
    .frame.hidden {
      display: none;
    }
    .frame .frame-control-buttons {
      display: none;
    }
    .sprite-blob {
      display: none;
    }
    .new-frame-buttons {
      display: none;
    }
  }
}
