.edit-pane {
  padding-top: 80px;
  padding-left: 80px;

  .control-panel {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: $teal-extra-light;
    border-bottom: 1px solid $teal-medium;

    .name {
      font-size: 24px;
      margin-left: 15px;
    }

    .color-picker .jscolor {
      width: 60px;
      padding: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .animation-button,
    .close-button {
      font-size: 32px;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      color: $teal-medium;
      &:hover {
        color: $teal-dark;
      }
    }

    .close-button {
      margin-right: 15px;
    }

    .size-picker {
      font-size: 16px;
      background-color: $teal-extra-light;
      border: 1px solid $teal-light;
    }

    .size-picker,
    .white-empty-picker,
    .white-empty-picker input {
      cursor: pointer;
    }
  }

  .side-panel {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    height: calc(100% - 51px);
    width: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $teal-extra-light;
    border-right: 1px solid $teal-medium;

    .color-palette {
      display: flex;
      flex-direction: column;

      .color-code {
        position: relative;
        display: flex;
        flex-direction: column;

        padding: 5px 0 0 0;
        margin: 0;
        height: 35px;

        cursor: pointer;
        border: none;
        border-bottom: 1px solid $teal-medium;

        &:hover {
          text-decoration: underline;
        }

        &:hover::after {
          content: " ";
          width: 0;
          height: 0;

          position: absolute;
          top: -1px;
          right: 0;
          margin-right: -16px;

          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          border-left: 15px solid $teal-medium;
        }
      }
    }

    .sprite-blob {
      display: flex;

      .copy-button {
        font-size: 36px;
        border: none;
        background-color: $teal-extra-light;
        cursor: pointer;
        color: $teal-medium;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:hover {
          color: $teal-dark;
        }

        .success {
          color: #3cbd40;
        }
      }

      textarea {
        font-family: monospace;
        font-size: 10px;
        color: $teal-dark;
        word-wrap: break-word;
        border-color: $teal-light;
        z-index: 0;

        height: 100%;
        width: calc(100% - 6px);
        position: absolute;
        left: 0;
      }
    }
  }

  .animation-frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;

    .new-frame-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        border: none;
        background-color: white;
        font-size: 66px;
        cursor: pointer;
        color: $teal-medium;

        &:hover {
          color: $teal-dark;
        }
      }
    }

    .frame {
      margin-right: 10px;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      border: 3px solid $teal-medium;
      align-items: center;
      background-color: #f0f0f0;

      .frame-control-buttons {
        display: flex;
        flex-direction: row;
        border-bottom: 3px solid $teal-medium;
        width: 100%;

        button {
          flex-grow: 1;
          margin: 0;
          padding: 0;
          border: 0px solid;
          border-left: 1px solid $teal-medium;
          background-color: rgba(0, 0, 0, 0);
          width: 30px;
          height: 20px;
          cursor: pointer;
          color: $teal-dark;
          font-size: 18px;

          &:first-child {
            border-left: none;
          }
          &:hover {
            background-color: white;
            color: $teal-medium;
          }
        }

        .two-click-delete {
          flex-grow: 1;
          align-items: center;
          min-width: 30px;
          min-height: inherit;
          border-left: 1px solid $teal-medium;

          button {
            flex-grow: 1;
            width: 100%;

            i {
              font-size: 18px;
              min-width: 17px;
            }
          }
        }
      }
    }
  }

  &.show-animation {
    .frame.hidden {
      display: none;
    }
    .frame .frame-control-buttons {
      display: none;
    }
    .sprite-blob {
      display: none;
    }
    .new-frame-buttons {
      display: none;
    }
  }

  .toolkit {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid $teal-light;
    border-right: none;
    border-bottom: none;
    background-color: $teal-extra-light;

    &.expanded .collapsed,
    &.collapsed .expanded {
      display: none;
    }

    .expanded {
      display: flex;
      flex-direction: row;

      .content {
        padding: 5px 10px;
      }
    }

    .collapsed {
      display: flex;
    }

    .collapse-button,
    .expand-button {
      font-size: 24px;
      cursor: pointer;
      border: none;
      padding: 10px 5px;
      margin: 0;
      color: $teal-medium;
      background-color: rgba(0, 0, 0, 0);
      &:hover {
        color: $teal-dark;
        background-color: $teal-light;
      }
    }

    .collapse-button {
      border-right: 1px solid $teal-light;
    }
  }
}
