.edit-pane {
  .color-picker {
    margin-top: 20px;
  }

  .animation-frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .new-frame-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        border: none;
        background-color: white;
        font-size: 66px;
        cursor: pointer;
        color: #999;

        &:hover {
          color: #333;
        }
      }
    }

    .frame {
      margin-right: 10px;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      border: 3px solid #666;
      align-items: center;

      .controls {
        display: flex;
        flex-direction: row;
        border-bottom: 3px solid #666;
        width: 100%;

        button {
          flex-grow: 0;
          margin: 0;
          padding: 0;
          border: 0px solid;
          border-left: 1px solid #666;
          background-color: white;
          width: 30px;
          height: 20px;
          cursor: pointer;
          color: #666;
          font-size: 18px;

          &:first-child {
            border-left: none;
          }
          &:hover {
            background-color: #ccc;
            color: #333;
          }
        }

        .spacer {
          flex-grow: 1;
          border-left: 1px solid #666;
        }
      }
    }
  }

  .sprite-blob {
    font-family: monospace;
    font-size: 10px;
    color: #666;
    word-wrap: break-word;
    max-width: 400px;
  }

  &.show-animation {
    .frame.hidden {
      display: none;
    }
    .frame .controls {
      display: none;
    }
  }
}
