.pixel-grid {
  display: inline-block;

  .row {
    display: flex;
    flex-direction: row;
  }
}
.animation-frames.small {
  .pixel {
    width: 10px;
    height: 10px;
    &:hover {
      width: 8px;
      height: 8px;
    }
  }
}
.animation-frames.medium {
  .pixel {
    width: 15px;
    height: 15px;
    &:hover {
      width: 13px;
      height: 13px;
    }
  }
}
.animation-frames.large {
  .pixel {
    width: 20px;
    height: 20px;
    &:hover {
      width: 18px;
      height: 18px;
    }
  }
}
.pixel:hover {
  border: 1px solid #666;
}
