.saved-sprites-display {
  display: flex;
  flex-direction: row;

  .sprite-selector {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    label {
      cursor: pointer;
    }

    .pixel-grid {
      border: 1px solid #ccc;

      .row .pixel {
        width: 3px;
        height: 3px;

        &:hover {
          border: none;
          width: 3px;
          height: 3px;
        }
      }
    }
  }
}
