.saved-sprites-display {
  margin: 0 20px;
  display: flex;
  flex-direction: column;

  .sprites {
    display: flex;
    flex-flow: row wrap;
  }

  .sprite-entry {
    display: flex;
    flex-direction: column;
    border: 1px solid $teal-medium;
    margin: 0 5px 5px 0;
    padding: 5px;

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 0 5px;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: rgba(0, 0, 0, 0);

      &.open {
        font-size: 18px;
        color: $teal-dark;

        &:hover {
          color: $teal-medium;
          text-decoration: underline;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .pixel-grid {
      .row .pixel {
        width: 3px;
        height: 3px;

        &:hover {
          border: none;
          width: 3px;
          height: 3px;
        }
      }
    }
  }
}
