.saved-sprites-display {
  margin: 0 20px;
  display: flex;
  flex-direction: column;

  .sprites {
    display: flex;
    flex-flow: row wrap;
  }

  .sprite-entry {
    display: flex;
    flex-direction: row;
    border: 1px solid $border-color;
    margin: 0 5px 5px 0;
    padding: 10px;

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: rgba(0, 0, 0, 0);

      &.open {
        font-size: 18px;
        color: $font-color;

        &:hover {
          color: $border-color;
          text-decoration: underline;
        }
      }

      &.delete {
        font-size: 16px;
        color: #562426;

        &:hover {
          color: #843c3f;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
    }

    .pixel-grid {
      //border: 1px solid #ccc;

      .row .pixel {
        width: 3px;
        height: 3px;

        &:hover {
          border: none;
          width: 3px;
          height: 3px;
        }
      }
    }
  }
}
