<div class="saved-sprites-display">
  {{#each @sprites key="name" as |sprite|}}

    <button class="sprite-selector" onclick={{action openSprite sprite}}>
      <label>{{sprite.name}}</label>

      <pixel-grid
        @editable="false"
        @frame={{sprite.firstFrame}}
      />
    </button>

  {{/each}}
</div>