<div class="saved-sprites-display">
  {{#if @sprites.length}}
    <div class="title">Open a project</div>

    <div class="sprites">
      {{#each @sprites key="name" as |sprite|}}

        <div class="sprite-entry">
          <div class="controls">
            <button class="open" onclick={{action openSprite sprite}}>
              {{sprite.name}}
            </button>

            <button class="delete">
              delete
            </button>
          </div>

          <div class="preview">
            <pixel-grid
              @editable="false"
              @frame={{sprite.firstFrame}}
            />
          </div>
        </div>

      {{/each}}
    </div>
  {{/if}}
</div>