<div class="pixel-grid">
  {{#each buttons key="@index" as |row|}}
    <div>
      {{#each row key="@index" as |buttonName|}}
        <button>{{buttonName}}</button>
      {{/each}}
    </div>
  {{/each}}
</div>