<div class="pixel-grid">
  {{#each sprite.rows key="@index" as |pixelRow|}}
    <div class="row">
      {{#each pixelRow.pixels key="color" as |pixel|}}
        <pixel-component
          @pixel={{pixel}}
          @clickPixel={{action clickPixel}} />
      {{/each}}
    </div>
  {{/each}}
</div>