<div class="pixel-grid">
  <div>width: {{@dimensions.width}}</div>
  <div>height: {{@dimensions.height}}</div>

  <div>
    {{#each buttons key="@index" as |buttonName|}}
      <button>{{buttonName}}</button>
    {{/each}}
  </div>
</div>