<div class="pxlr-sprite-editor">

  {{#if store.editingSprite}}
    <edit-pane />
  {{else}}
    <create-sprite-form />

    <div>
      {{#each store.sprites key="name" as |sprite|}}
        <button onclick={{action openSprite sprite}}>
          {{sprite.name}}
        </button>
      {{/each}}
    </div>
  {{/if}}

</div>