<div class="two-click-delete" title="delete?">
  <button onclick={{action click}}>
    {{#if showCheck}}
      <i class="ion-checkmark-circled"></i>
    {{else if showPrompt}}
      <i class="ion-ios-close-outline"></i>
    {{else}}
      <i class="ion-ios-trash-outline"></i>
    {{/if}}
  </button>
</div>