<div class="two-click-delete" title="delete?">
  <button onclick={{action click}}>
    {{#if showPrompt}}
      <span class="prompt">delete?</span>
    {{else}}
      <i class="ion-ios-trash-outline"></i>
    {{/if}}
  </button>
</div>