.color-converter {
  display: flex;
  flex-direction: column;
  padding-left: 10px; }
  .color-converter .r-g-b {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px; }
    .color-converter .r-g-b input {
      text-align: right;
      color: #719997;
      background-color: transparent;
      font-size: 14px;
      width: 45px;
      margin: 0 15px 0 -35px;
      padding-left: 5px;
      outline: none;
      border: none;
      border-bottom: 2px solid #719997; }
      .color-converter .r-g-b input:focus {
        border-bottom-color: #456361; }
  .color-converter .hex {
    text-align: center; }
    .color-converter .hex i {
      font-size: 12px;
      margin-right: -8px; }

.create-sprite-form {
  margin: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column; }
  .create-sprite-form form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px; }
  .create-sprite-form .inputs {
    display: flex;
    flex-direction: column;
    width: 550px; }
    .create-sprite-form .inputs .row {
      display: flex;
      flex-direction: row; }
      .create-sprite-form .inputs .row .input {
        display: flex;
        flex-grow: 1;
        position: relative;
        margin-right: 25px;
        margin-bottom: 15px; }
        .create-sprite-form .inputs .row .input label {
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: 16px; }
      .create-sprite-form .inputs .row input {
        font-size: 18px;
        color: #456361;
        flex-grow: 1;
        border: none;
        outline: none;
        border-bottom: 2px solid #719997; }
        .create-sprite-form .inputs .row input:focus {
          border-bottom-color: #456361; }
  .create-sprite-form .submit {
    display: flex;
    justify-content: center;
    align-content: center; }
    .create-sprite-form .submit button {
      font-size: 60px;
      color: #719997;
      border: none;
      background-color: transparent;
      cursor: pointer; }
      .create-sprite-form .submit button:hover {
        color: #456361; }

.edit-pane {
  padding-top: 80px;
  padding-left: 80px; }
  .edit-pane .control-panel {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f8feff;
    border-bottom: 1px solid #719997; }
    .edit-pane .control-panel .name {
      font-size: 24px;
      margin-left: 15px; }
    .edit-pane .control-panel .color-picker .jscolor {
      width: 60px;
      padding: 5px;
      font-size: 16px;
      cursor: pointer; }
    .edit-pane .control-panel .animation-button,
    .edit-pane .control-panel .close-button {
      font-size: 32px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #719997; }
      .edit-pane .control-panel .animation-button:hover,
      .edit-pane .control-panel .close-button:hover {
        color: #456361; }
    .edit-pane .control-panel .close-button {
      margin-right: 15px; }
    .edit-pane .control-panel .size-picker {
      font-size: 16px;
      background-color: #f8feff;
      border: 1px solid #99b6b1; }
    .edit-pane .control-panel .size-picker,
    .edit-pane .control-panel .white-empty-picker,
    .edit-pane .control-panel .white-empty-picker input {
      cursor: pointer; }
  .edit-pane .side-panel {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    height: calc(100% - 51px);
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8feff;
    border-right: 1px solid #719997; }
    .edit-pane .side-panel .color-palette {
      display: flex;
      flex-direction: column; }
      .edit-pane .side-panel .color-palette .color-code {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5px 0 0 0;
        margin: 0;
        height: 35px;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid #719997; }
        .edit-pane .side-panel .color-palette .color-code:hover {
          text-decoration: underline; }
        .edit-pane .side-panel .color-palette .color-code:hover::after {
          content: " ";
          width: 0;
          height: 0;
          position: absolute;
          top: -1px;
          right: 0;
          margin-right: -16px;
          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          border-left: 15px solid #719997; }
    .edit-pane .side-panel .sprite-blob {
      display: flex; }
      .edit-pane .side-panel .sprite-blob .copy-button {
        font-size: 36px;
        border: none;
        background-color: #f8feff;
        cursor: pointer;
        color: #719997;
        width: 100%;
        height: 100%;
        z-index: 1; }
        .edit-pane .side-panel .sprite-blob .copy-button:hover {
          color: #456361; }
        .edit-pane .side-panel .sprite-blob .copy-button .success {
          color: #3cbd40; }
      .edit-pane .side-panel .sprite-blob textarea {
        font-family: monospace;
        font-size: 10px;
        color: #456361;
        word-wrap: break-word;
        border-color: #99b6b1;
        z-index: 0;
        height: 100%;
        width: calc(100% - 6px);
        position: absolute;
        left: 0; }
  .edit-pane .animation-frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px; }
    .edit-pane .animation-frames .new-frame-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .edit-pane .animation-frames .new-frame-buttons button {
        border: none;
        background-color: white;
        font-size: 66px;
        cursor: pointer;
        color: #719997; }
        .edit-pane .animation-frames .new-frame-buttons button:hover {
          color: #456361; }
    .edit-pane .animation-frames .frame {
      margin-right: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      border: 3px solid #719997;
      align-items: center;
      background-color: #f0f0f0; }
      .edit-pane .animation-frames .frame .frame-control-buttons {
        display: flex;
        flex-direction: row;
        border-bottom: 3px solid #719997;
        width: 100%; }
        .edit-pane .animation-frames .frame .frame-control-buttons button {
          flex-grow: 1;
          margin: 0;
          padding: 0;
          border: 0px solid;
          border-left: 1px solid #719997;
          background-color: transparent;
          width: 30px;
          height: 20px;
          cursor: pointer;
          color: #456361;
          font-size: 18px; }
          .edit-pane .animation-frames .frame .frame-control-buttons button:first-child {
            border-left: none; }
          .edit-pane .animation-frames .frame .frame-control-buttons button:hover {
            background-color: white;
            color: #719997; }
        .edit-pane .animation-frames .frame .frame-control-buttons .two-click-delete {
          flex-grow: 1;
          align-items: center;
          min-width: 30px;
          min-height: inherit;
          border-left: 1px solid #719997; }
          .edit-pane .animation-frames .frame .frame-control-buttons .two-click-delete button {
            flex-grow: 1;
            width: 100%; }
            .edit-pane .animation-frames .frame .frame-control-buttons .two-click-delete button i {
              font-size: 18px;
              min-width: 17px; }
  .edit-pane.show-animation .frame.hidden {
    display: none; }
  .edit-pane.show-animation .frame .frame-control-buttons {
    display: none; }
  .edit-pane.show-animation .sprite-blob {
    display: none; }
  .edit-pane.show-animation .new-frame-buttons {
    display: none; }
  .edit-pane .toolkit {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid #99b6b1;
    border-right: none;
    border-bottom: none;
    background-color: #f8feff; }
    .edit-pane .toolkit.expanded .collapsed,
    .edit-pane .toolkit.collapsed .expanded {
      display: none; }
    .edit-pane .toolkit .expanded {
      display: flex;
      flex-direction: row; }
    .edit-pane .toolkit .collapsed {
      display: flex; }
    .edit-pane .toolkit .content > div {
      padding: 5px 10px;
      border-bottom: 1px solid #99b6b1; }
    .edit-pane .toolkit .collapse-button,
    .edit-pane .toolkit .expand-button {
      font-size: 24px;
      cursor: pointer;
      border: none;
      padding: 10px 5px;
      margin: 0;
      color: #719997;
      background-color: transparent; }
      .edit-pane .toolkit .collapse-button:hover,
      .edit-pane .toolkit .expand-button:hover {
        color: #456361;
        background-color: #99b6b1; }
    .edit-pane .toolkit .collapse-button {
      border-right: 1px solid #99b6b1; }

.import-sprite-form {
  margin: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column; }
  .import-sprite-form form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px; }
  .import-sprite-form .inputs {
    display: flex;
    width: 550px;
    margin-top: 5px;
    position: relative;
    margin-right: 25px; }
    .import-sprite-form .inputs label {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 14px; }
    .import-sprite-form .inputs textarea {
      flex-grow: 1;
      color: #719997;
      font-size: 14px;
      outline: none;
      border: none;
      border-bottom: 2px solid #719997;
      border-right: 2px solid #719997; }
      .import-sprite-form .inputs textarea:focus {
        border-bottom: 2px solid #456361;
        border-right: 2px solid #456361; }
  .import-sprite-form .submit {
    display: flex;
    justify-content: center;
    align-content: center; }
    .import-sprite-form .submit button {
      font-size: 60px;
      color: #719997;
      border: none;
      background-color: transparent;
      cursor: pointer; }
      .import-sprite-form .submit button:hover {
        color: #456361; }

.modify-dimensions-controls .row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.modify-dimensions-controls .fake-box {
  width: 40px;
  height: 40px;
  border: 1px solid #99b6b1;
  background-color: white;
  margin: 5px 10px; }

.modify-dimensions-controls .button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #719997; }
  .modify-dimensions-controls .button-group button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 1px;
    color: #719997; }
    .modify-dimensions-controls .button-group button:hover {
      color: #456361; }

.pixel-grid {
  display: inline-block; }
  .pixel-grid .row {
    display: flex;
    flex-direction: row; }

.animation-frames.small .pixel {
  width: 10px;
  height: 10px; }
  .animation-frames.small .pixel:hover {
    width: 8px;
    height: 8px; }

.animation-frames.medium .pixel {
  width: 15px;
  height: 15px; }
  .animation-frames.medium .pixel:hover {
    width: 13px;
    height: 13px; }

.animation-frames.large .pixel {
  width: 20px;
  height: 20px; }
  .animation-frames.large .pixel:hover {
    width: 18px;
    height: 18px; }

.pixel:hover {
  border: 1px solid #666; }

.saved-sprites-display {
  margin: 0 20px;
  display: flex;
  flex-direction: column; }
  .saved-sprites-display .sprites {
    display: flex;
    flex-flow: row wrap; }
  .saved-sprites-display .sprite-entry {
    display: flex;
    flex-direction: column;
    border: 1px solid #719997;
    margin: 0 5px 5px 0;
    padding: 5px; }
    .saved-sprites-display .sprite-entry .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 0 5px; }
    .saved-sprites-display .sprite-entry button {
      cursor: pointer;
      border: none;
      background-color: transparent; }
      .saved-sprites-display .sprite-entry button.open {
        font-size: 18px;
        color: #456361; }
        .saved-sprites-display .sprite-entry button.open:hover {
          color: #719997;
          text-decoration: underline; }
    .saved-sprites-display .sprite-entry .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }
    .saved-sprites-display .sprite-entry .pixel-grid .row .pixel {
      width: 3px;
      height: 3px; }
      .saved-sprites-display .sprite-entry .pixel-grid .row .pixel:hover {
        border: none;
        width: 3px;
        height: 3px; }

.two-click-delete {
  min-width: 37px;
  min-height: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .two-click-delete button {
    border: none;
    background-color: transparent;
    color: #562426;
    flex-grow: 1; }
    .two-click-delete button:hover {
      color: #843c3f; }
    .two-click-delete button i {
      font-size: 24px; }
    .two-click-delete button span {
      font-size: 16px; }

body {
  border: none;
  margin: 0;
  padding: 0;
  color: #456361;
  font-size: 18px;
  font-family: "Courier New", monospace; }

.title {
  border-bottom: 3px solid #719997;
  display: inline;
  margin-bottom: 10px;
  font-weight: 800; }
